.DS_Store
.vscode
*.o
Random/Cargo/target.zip
Random/Cargo/target
bin/appearance
bin/mui
bin/random
bin/random-c
bin/random-cpp
bin/random-f
bin/random-go
bin/random-rust
bin/random-swift
bin/thread
bin/trash
bin/*-linux
Archive/java/*.class
Time Measurement/Rust/target
Cargo.lock
__pycache__