.DS_Store
*.o
Random/Cargo/target.zip
Random/Cargo/target
bin/appearance
bin/mui
bin/random
bin/random-c
bin/random-cpp
bin/random-f
bin/random-go
bin/random-rust
bin/random-swift
bin/thread
bin/trash
bin/*-linux
*-debug
*-debug.cs
bin/*.dSYM
*.class
Time Measurement/Rust/target
Time Measurement/NET/bin
Time Measurement/NET/obj
Cargo.lock
.idea
.vscode/*.log
Time Measurement/.vscode/*.log
__pycache__